name: readme
on:
  schedule:
    - cron: '0 * * * *'
  push:
    branches: [master]
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Generate README
        run: npm start
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: master
          commit_message: Update README
          commit_author: GitHub Actions <actions@github.com>
